<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button>  </ion-back-button>
    </ion-buttons>
    <ion-title>Dumbo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img src="assets/icon/reserva1.jpg"/>
    <ion-card-content>
      <ion-card-title>
     Combo Triple
        </ion-card-title>
      <p>
       Disfruta de estos deliciosos helados.
       Fresas con Crecma 
       Melba Fresas
       Coctel de Frutas
      </p>

    </ion-card-content>
    <div ><ion-button   routerLink="/dumbo">
      Haz tu Reserva
    </ion-button> 
  
    </div>
  </ion-card>
  <ion-card>
    <img src="assets/icon/reserva2.jpg"/>
    <ion-card-content>
      <ion-card-title>
     Combo Triple Amigos   
        </ion-card-title>
      <p>
       Disfruta de este fabuloso combo 
       Empanadas
       Helado de chocolate
       Helado frutilla
      </p>

    </ion-card-content>
    <div ><ion-button   routerLink="/dumbo">
      Haz tu Reserva
    </ion-button> 
  
    </div>
  </ion-card>
  
</ion-content>
