<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button>  </ion-back-button>
    </ion-buttons>
    <ion-title>Globos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img src="assets/icon/Captura4.PNG"/>
    <ion-card-content>
      <ion-card-title>
     Helados de nitrógeno
        </ion-card-title>
      <p>
        Gracias al nitrógeno líquido, 
        tu helado estará más suave, cremoso, 
        frío y con menos cristales de hielo. 

        ​
      </p>

    </ion-card-content>
    <div ><ion-button   routerLink="/dumbo">
      Haz tu Reserva
    </ion-button> 
  
    </div>
  </ion-card>
  <ion-card>
    <img src="assets/icon/reserva3.PNG"/>
    <ion-card-content>
      <ion-card-title>
      Palekrepas  
        </ion-card-title>
      <p>
        Llévate tu Palekrepa salada o dulce
        Aprovecha nuestro combo:
        Una Palekrepa + un café americano
      </p>

    </ion-card-content>
    <div ><ion-button   routerLink="/dumbo">
      Haz tu Reserva
    </ion-button> 
  
    </div>
  </ion-card>
</ion-content>
