<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button>  </ion-back-button>
    </ion-buttons>
    <ion-title>Paprika</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img src="assets/icon/reserva7.jpg"/>
    <ion-card-content>
      <ion-card-title>
        Chicken Nachos
        </ion-card-title>
      <p>
       Ven a Disfrutar de este delicioso platillo 
       Chicken Nachos
       solo aqui en Paprika

        ​
      </p>

    </ion-card-content>
    <div ><ion-button   routerLink="/dumbo">
      Haz tu Reserva
    </ion-button> 
  
    </div>
  </ion-card>
  <ion-card>
    <img src="assets/icon/reserva8.jpg"/>
    <ion-card-content>
      <ion-card-title>
      Steak al Jengibre
        </ion-card-title>
      <p>
        Ven a Disfrutar de este delicioso platillo 
        Steak al Jengibre
        solo aqui en Paprika
 ​
      </p>

    </ion-card-content>
    <div ><ion-button   routerLink="/dumbo">
      Haz tu Reserva
    </ion-button> 
  
    </div>
  </ion-card>
</ion-content>
