<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Event Restaurant</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content  class="ion-padding">
  
  
  <ion-card>
    <img src="assets/icon/dumbo.jpg"/>
    <ion-card-content>
      <ion-card-title>
     HELADERIA DUMBO   
        </ion-card-title>
      <p>
        En las Heladerias Dumbo contamos con ambientes ideales para poder disfrutar de un momento agradable,
         experimentando de nuestra exquisita gastronomia nacional como tambien la internacional
      </p>

    </ion-card-content>
    <div ><ion-button   routerLink="/dumboo">
      Ver
    </ion-button> 
  
    </div>
  </ion-card>
  <ion-card>
    <img src="assets/icon/globos.PNG"/>
    <ion-card-content>
      <ion-card-title>
     HELADERIA GlOBOS   
        </ion-card-title>
      <p>
        Ofrecemos la mas amplia variedad y calidad gastronomica para todos los gustos, 
        creando asi un ambiente donde la prioridad es la satisfaccion absoluta del cliente.
      </p>

    </ion-card-content>
    <div ><ion-button   routerLink="/globos">
      Ver
    </ion-button> 
  
    </div>
  </ion-card>
  <ion-card>
    <img src="assets/icon/vinnopolis.jpg"/>
    <ion-card-content>
      <ion-card-title>
     VINOPPOLIS  
        </ion-card-title>
      <p>
       Ofrecemos diversos y exquisitos platos ala carta como tambien ofrece bebidas de 
       todo tipo, nos hubicamos en zona centrica de la ciudad.
      </p>

    </ion-card-content>
    <div ><ion-button   routerLink="/vinoppolis">
      Ver
    </ion-button> 
  
    </div>
  </ion-card>
  <ion-card>
    <img src="assets/icon/paprika.png"/>
    <ion-card-content>
      <ion-card-title>
   PAPRIKA   
        </ion-card-title>
      <p>
        Es una empresa con una propuesta diferente y exclusiva, no solo se puede disfrutar de deliciosas comidad,
        postres,bebidad,etc; sino tambien podran encontrar un ambiente amplio.
      </p>

    </ion-card-content>
    <div ><ion-button   routerLink="/paprika">
      Ver
    </ion-button> 
  
    </div>
  </ion-card>
  
</ion-content>
