<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Event Restaurant</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content  class="ion-padding">

<p>Bienvenido</p>
<div  class = "row ">
  <div  ><ion-button routerLink="/dumbo">
    Ver
  </ion-button> 

  </div>
  <div >
    <ion-button routerLink="/globos">

      Ver
    </ion-button> 
  </div>
  <div>
    <ion-button routerLink="/paprika">
      Ver
      </ion-button> 
  </div> 
  <div>
    <ion-button routerLink="/vinoppolis">
      Ver
        </ion-button> 
  </div>
  </div>
  
</ion-content>
